<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.cicadasong.cicada"
      android:versionCode="1"
      android:versionName="developer preview">
    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Cicada"
                  android:label="@string/app_name"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".CicadaSettingsActivity"
                  android:label="@string/settings_activity_title"
                  android:configChanges="keyboardHidden|orientation"
                  />

        <activity android:name=".WidgetSetup"
                  android:label="@string/widget_setup"
                  android:configChanges="keyboardHidden|orientation">
        </activity>

        <activity android:name=".HotkeySetupActivity"
                  android:label="@string/hotkey_setup"
                  android:configChanges="keyboardHidden|orientation">
        </activity>

        <receiver android:name=".PackageMonitor">
          <intent-filter>
            <action android:name="android.intent.action.PACKAGE_ADDED" />
            <action android:name="android.intent.action.PACKAGE_REMOVED" />
            <action android:name="android.intent.action.PACKAGE_REPLACED" />
            <data android:scheme="package" />
          </intent-filter>
        </receiver>

        <service android:name=".CicadaService"
                 android:label="@string/service_name" />
        <service android:name=".DeviceService"
                 android:label="@string/device_service_name" />
        <service android:name=".AppList"
                 android:label="@string/app_list_service_name" />
    </application>

</manifest>